<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.itomych.base.template</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>10.0</string>
		</dict>
	</dict>

	<key>Nodes</key>
	<array>
		<string>AppDelegate.swift</string>
		<string>Views/.gitkeep</string>
		<string>Application/.gitkeep</string>
		<string>../AutomationTools/.gitkeep</string>
		<string>Networking/.gitkeep</string>
		<string>Flows/.gitkeep</string>
		<string>Resources/Fonts/.gitkeep</string>
		<string>Formatters/.gitkeep</string>
		<string>Validators/.gitkeep</string>
		<string>Controllers/.gitkeep</string>
		<string>XcodeIntegration/.gitkeep</string>
		<string>Extensions/UIKit/.gitkeep</string>
		<string>Extensions/Foundation/.gitkeep</string>
		<string>../.gitignore</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../AutomationTools/.gitkeep</key>
		<dict>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>AutomationTools</string>
			</array>
		</dict>

		<key>Views/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>.gitignore</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>

		<key>Resources/Fonts/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Extensions/UIKit/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Extensions/Foundation/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Application/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Controllers/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controllers</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>XcodeIntegration/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XcodeIntegration</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Formatters/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Formatters</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Validators/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Validators</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Flows/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Flows</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>Networking/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Networking</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		 <key>AppDelegate.swift</key>
		 <dict>
			<key>Group</key>
        	<array>
            	<string>Application</string>
        	</array>
        	<key>Path</key>
        	<string>AppDelegate.swift</string>
		 </dict>
	</dict>
</dict>
</plist>
