<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.itomych.networkCore.framework.template</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosFramework</string>
    </array>
    <key>Project</key>
    <dict>
        <key>SharedSettings</key>
        <dict>
            <key>IPHONEOS_DEPLOYMENT_TARGET</key>
            <string>10.0</string>
        </dict>
        <key>Configurations</key>
        <dict>
            <key>Debug</key>
            <dict>
                <key>SWIFT_OPTIMIZATION_LEVEL</key>
                <string>-Onone</string>
                <key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
                <string>YES</string>
                <key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
                <string>YES</string>
                <key>OTHER_SWIFT_FLAGS</key>
                <string>-D DEBUG</string>
            </dict>
            <key>Release</key>
            <dict>
                <key>SWIFT_OPTIMIZATION_LEVEL</key>
                <string>-O</string>
            </dict>
        </dict>
    </dict>
    <key>Concrete</key>
    <true/>
    <key>Nodes</key>
    <array>
        <string>APIClient.swift</string>
        <string>APIDebugLog.swift</string>
        <string>APIError.swift</string>
        <string>APIResponseValidator.swift</string>
        <string>APISerializer.swift</string>
        <string>Credential.swift</string>
        <string>Extensions/ProcessInfo+Extensions.swift</string>
        <string>RequestDescriptor.swift</string>
        <string>RequestsHandler.swift</string>
        <string>Token.swift</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>APIClient.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/APIClient.swift</string>
        </dict>
        <key>APIDebugLog.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/APIDebugLog.swift</string>
        </dict>
        <key>APIError.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/APIError.swift</string>
        </dict>
        <key>APIResponseValidator.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/APIResponseValidator.swift</string>
        </dict>
        <key>APISerializer.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/APISerializer.swift</string>
        </dict>
        <key>Credential.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/Credential.swift</string>
        </dict>
        <key>Extensions/ProcessInfo+Extensions.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/Extensions/ProcessInfo+Extensions.swift</string>
            <key>Group</key>
            <array>
                <string>Extensions</string>
            </array>
        </dict>
        <key>RequestDescriptor.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/RequestDescriptor.swift</string>
        </dict>
        <key>RequestsHandler.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/RequestsHandler.swift</string>
        </dict>
        <key>Token.swift</key>
        <dict>
            <key>Path</key>
            <string>Sources/Token.swift</string>
        </dict>
    </dict>
</dict>
</plist>
