<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.itomych.swift.template</string>
	<key>Ancestors</key>
	<array>
		<string>com.itomych.base.template</string>
		<string>com.itomych.gitlabci.template</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application with iOS department preferrable project structure</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>AlamofireEnabled</string>
				<key>Name</key>
				<string>Include Alamofire</string>
				<key>Description</key>
				<string>Adds Alamofire as a CocoaPod</string>
				<key>Type</key>
				<string>checkbox</string>
				<key>Default</key>
				<string>false</string>
				<key>NotPersisted</key>
				<true/>
				<key>Units</key>
				<dict>
					<key>true</key>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>../Podfile:afpod</key>
							<string>	pod &apos;Alamofire&apos;, &apos;~&gt; 4.7&apos;</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>../Podfile:afpod</string>
						</array>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>includeNetworkCore</string>
				<key>Name</key>
				<string>Include NetworkCore Framework</string>
				<key>RequiredOptions</key>
				<dict>
					<key>AlamofireEnabled</key>
					<string>true</string>
				</dict>
				<key>Indented</key>
				<true/>
				<key>Type</key>
				<string>checkbox</string>
				<key>Default</key>
				<string>false</string>
				<key>Units</key>
				<dict>
					<key>true</key>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.itomych.networkCore.framework.template</string>
								<key>Name</key>
								<string>___PACKAGENAME___NetworkCore</string>
								<key>ProductBuildPhaseInjections</key>
								<array>
									<dict>
										<key>TargetIdentifier</key>
										<string>com.apple.dt.cocoaTouchApplicationTarget</string>
									</dict>
								</array>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>../Podfile:afsessionrenewerpod</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../Podfile:afsessionrenewerpod</key>
							<string>	target &apos;___PACKAGENAME___NetworkCore&apos; do
		inherit! :search_paths
		pod &apos;AlamofireSessionRenewer&apos;
	end</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>Configurations</key>
								<dict>
									<key>Debug</key>
									<dict>
										<key>ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES</key>
										<string>$(inherited)</string>
									</dict>
									<key>Release</key>
									<dict>
										<key>ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES</key>
										<string>$(inherited)</string>
									</dict>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>includeNetworkCore</string>
				<key>Name</key>
				<string>Include NetworkCore Framework</string>
				<key>RequiredOptions</key>
				<dict>
					<key>AlamofireEnabled</key>
					<string>true</string>
				</dict>
				<key>Indented</key>
				<true/>
				<key>Type</key>
				<string>checkbox</string>
				<key>Default</key>
				<string>false</string>
				<key>Units</key>
				<dict>
					<key>true</key>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.itomych.networkCore.framework.template</string>
								<key>Name</key>
								<string>___PACKAGENAME___NetworkCore</string>
								<key>ProductBuildPhaseInjections</key>
								<array>
									<dict>
										<key>TargetIdentifier</key>
										<string>com.apple.dt.cocoaTouchApplicationTarget</string>
									</dict>
								</array>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>../Podfile:afsessionrenewerpod</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../Podfile:afsessionrenewerpod</key>
							<string>	target &apos;___PACKAGENAME___NetworkCore&apos; do
		inherit! :search_paths
		pod &apos;AlamofireSessionRenewer&apos;
	end</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>Configurations</key>
								<dict>
									<key>Debug</key>
									<dict>
										<key>ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES</key>
										<string>$(inherited)</string>
									</dict>
									<key>Release</key>
									<dict>
										<key>ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES</key>
										<string>$(inherited)</string>
									</dict>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
		</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Toolchain</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftGen</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/Pods/SwiftGen/bin/swiftgen&quot; config run --config &quot;${PROJECT_DIR}/___PACKAGENAME___/AutomationTools/swiftgen.yml&quot;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftFormat</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/Pods/SwiftFormat/CommandLineTool/swiftformat&quot; --swiftversion &quot;4.2&quot; --config &quot;${PROJECT_DIR}/___PACKAGENAME___/AutomationTools/swift_format_config.json&quot; &quot;${PROJECT_DIR}&quot;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftLint</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/Pods/SwiftLint/swiftlint&quot; lint --config &quot;${PROJECT_DIR}/___PACKAGENAME___/AutomationTools/swiftlint.yml&quot;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Copy-paste detector</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;/usr/local/bin/pmd&quot; cpd --files ___PACKAGENAME___ --minimum-tokens 50 --language swift --encoding UTF-8 --format net.sourceforge.pmd.cpd.XMLRenderer > cpd-output.xml --failOnViolation true
php &quot;./___PACKAGENAME___/AutomationTools/cpd_script.php&quot; -cpd-xml cpd-output.xml</string>
				</dict>
			</array>
		</dict>

	</array>
	<key>Nodes</key>
	<array>
		<string>AutomationTools/cpd_script.php</string>
		<string>AutomationTools/swiftgen.yml</string>
		<string>AutomationTools/swiftlint.yml</string>
		<string>AutomationTools/swift_format_config.json</string>
		<string>../Podfile:swiftbasics</string>
	</array>

	<key>Definitions</key>
	<dict>

		<key>AutomationTools/swiftlint.yml</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AutomationTools</string>
			</array>
			<key>Path</key>
			<string>swiftlint.yml</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>AutomationTools/swift_format_config.json</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AutomationTools</string>
			</array>
			<key>Path</key>
			<string>swift_format_config.json</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>../Podfile:swiftbasics</key>
		<string>	pod &apos;SwiftLint&apos;
	pod &apos;SwiftGen&apos;, &apos;~&gt; 5.3.0&apos;
	pod &apos;SwiftFormat/CLI&apos;</string>

		<key>AutomationTools/cpd_script.php</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AutomationTools</string>
			</array>
			<key>Path</key>
			<string>cpd_script.php</string>
			<key>TargetIndices</key>
			<array/>
		</dict>

		<key>AutomationTools/swiftgen.yml</key>
		<dict>
			<key>Beginning</key>
			<string>xcassets:
   paths: ../Assets.xcassets
   templateName: swift4
   output: ../Resources/AssetsConstants.swift  
fonts:
   paths: ../Resources/Fonts
   templateName: swift4
   output: ../Resources/FontConstants.swift
storyboards:
   paths: ../Flows
   templateName: swift4</string>
   			<key>End</key>
   			<string>   output: ../Resources/StoryboardsConstants.swift</string>
   			<key>Group</key>
   			<string>AutomationTools</string>
   			<key>TargetIndices</key>
   			<array/>
		</dict>

	</dict>
</dict>
</plist>
